<div class="sector-card animated fadeIn ">
    <div class="img-card">
        <img class="card-img img-fluid" [src]="sectorData.photo" alt="Imagen representativa del sector {{sectorData.name}}">
    </div>
    <div class="mt-3 sector-card-body">
        <!-- <h4>
            <strong>
                {{sectorData.name}}
            </strong>
        </h4> -->
        <h5>
            <strong>
                {{sectorData.name | uppercase}}
            </strong>
        </h5>

        <p > Area:
            <strong>
                {{sectorData.area}}
            </strong>
            M² aprox.
        </p>
    </div>
    
    <div class="d-grid gap-2 mt-3">
        <button [routerLink]="['/view', sectorData._id]"
        class="btn btn-acent ">
            Más información 
            <i class='mx-2 fas fa-eye bx-burst-hover'></i>
        </button>
    </div>
    
</div>