.list-group-item {
    background-color: rgb(19, 19, 19);
    color: white;
    border-radius: 12px;
}

.card-img{
    border-radius: 12px !important;
}
a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.15s linear;
}

$acent: #0d755b;

a:hover{
    color: $acent;
    cursor: pointer;
}

