.btn-search{
    width: 25%;
    margin-top: -4px;
    border-top-left-radius:0px !important; 
    border-bottom-left-radius:0px  !important;
}

.input-search{
    border-top-right-radius:0px !important; 
    border-bottom-right-radius:0px  !important;
}

option{
    background-color: rgb(19, 19, 19);
    color: white;

}

.bx-fade-down, .bx-fade-up{
    animation-iteration-count: 1;
}