<div  class="container mt-3 animated fadeIn ">
    <h1>Sectores de Villa Jaragua</h1>

    <input #word (keyup)="search(word.value.trim())" class="form-control" type="text" placeholder="Buscar...">
    <hr class="mb-3">

    <div *ngIf="sectors.length === 0" class="animated fadeIn text-center mt-5">
       
        <i *ngIf="!noInternet" class="bx bx-loader-circle bx-spin text-acent"
            style="font-size: 150px;">
        </i>

        <i *ngIf="noInternet" class="bx bx-error bx-tada text-danger"
            style="font-size: 150px;">
        </i>
        
        <h2 
            [ngClass]="{'text-acent': !noInternet, 'text-danger': noInternet}"
            class="animated fadeIn text-danger">{{noInternet? 'Revisa tu conexión a Intenet!': 'Cargando...'}}
        </h2>
    </div>
    
    <div *ngIf="filteredSectors.length === 0" class="row">
            
        <app-sector-card class="col-lg-3 col-md-4 col-sm-6 col-12 mt-3"
            *ngFor="let sector of sectors" [sectorData]="sector" >
        </app-sector-card>
        
    </div>

    <div *ngIf="filteredSectors.length > 0" class="row">
            
        <app-sector-card class="col-lg-3 col-md-4 col-sm-6 col-12 mt-3"
            *ngFor="let sector of filteredSectors" [sectorData]="sector" >
        </app-sector-card>
        
    </div>
</div>